
<section class="content-header">
	<h1>
    	Logs
    	<small></small>
  	</h1>
  	<ol class="breadcrumb">
    	<li><a href="/"><i class="fa fa-dashboard"></i> Logs</a></li>    	
  	</ol>
</section>


<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="box box-success">
			<form action="/configure/save" method="POST">
				<div class="box-header with-border">
					<h3 class="box-title"> </h3>
				</div>
				<div class="box-body">
					<code id="code">
					</code>
				</div><!-- /.box-body -->
			</form>
		</div><!-- /.box -->
	</div>
</section>

<script>
	$.get('/getLogs', function(data){
		$('#code').html(data.data.split('\n').reverse().join('\n').replace(/\n/g, '<br>'))
	})
	setInterval(function(){
		$.get('/getLogs', function(data){
			$('#code').html(data.data.split('\n').reverse().join('\n').replace(/\n/g, '<br>'))
		})
	}, 5000)
</script>